.header{
    background: url('../image/banner.jpg') no-repeat 0 0;
    color: white;
    padding-bottom: 400px;
    padding-top: 10px;
}
.bar{
    list-style: none;
}
.bar li{
    display: inline-block;
    padding-right: 15px;
}
.header i{
    padding: 5px 5px;
    background-color: cadetblue;
}
.lat{
    text-align: right;
}
.header a{
    color: white;
}
.header button{
    background-color: cadetblue;
}
.banner{
    color: white;
    position: absolute;
    top: 20%;
    left: 0;
    text-align: right;
}
.banner img{
    height: 400px;
    width: 100%;
}
.text{
    color: white;
    position: absolute;
    top: 30%;
    left: 55%;
}
.text button{
    border: 1px solid white;
    border-radius: .25rem;
    padding: 5px 10px;
}
.text a{
    color: white;
}
.section{
    margin-top: 100px;
    display: flex;
    padding-top: 100px;
}
.left{
    width: 49%;
    text-align: right;
    margin-right: 10px;
}
.right{
    width: 49%;
}
.third{
    position: relative;
    top: -65%;
    left: 20%;
    height: 200px;
}
.section-slide{
    margin: 20px 0;
    background-color: black;
    color: white;
}
.fbox{
    position: absolute;
    top: 135%;
}
.fbox h5{
    color: black;
}
.game{
    width: 40%;
}
.game{
    background-color: aqua;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
}
.hut{
    text-align: center;
    margin: 70px 0;
}
.late{
    padding: 100px 0;
    background: url('../image/jaipur.jfif') no-repeat 0 0;
    color: white;
    margin: 10px 0;
}
@media(min-width: 1080px){
    .fbox{
        position: absolute;
        top: 135%;
    }
}
@media(max-width: 1079px){
    .fbox{
        position: absolute;
        top: 165%;
    }
}
@media(max-width: 768px){
    .header{
        text-align: center;
    }
    .section{
        text-align: center;
    }
    .section-slide{
        text-align: center;
    }
    .game{
        width: 100%;
    }
    .banner{
        position: relative;
        top: 0;
        left: 0;
        margin-top: 10px;
    }
    .section{
        margin-top: 0px;
    }
    .left{
        text-align: center;
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .text{
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
    }
    .third{
        position: relative;
        left: 0;
        top: 0;
        margin: 10px 0;
    }
    .section{
        display: block;
    }
    .fbox{
        position: relative;
    }
    .fbox h5{
        color: white;
    }

}