.header{
    padding: 20px 0;
}
.header i{
    color: black
}
.logo{
    margin: 8px;
}
.icon{
    margin-top: 20px;
}
.bars{
    list-style: none;
    margin-top: 20px;
    text-align: center;
}
.bars li{
    display: inline-block;
    padding-right: 15px;
}
.bars li a{
    color: black
}
.top{
    position: absolute;
    top: 0;
    margin-top: 100px;
}
.header-slide{
    background-color: blue;
    padding-bottom: 400px;
    
}
.header-slide li a{
    color: white;
}
.header-slide i{
    color: white;
}
.text{
    padding: 50px 0;
}
.text button a{
    color: black
}
.section{
    margin: 30px 0;
    text-align: center;
}
.section i{
    font-size: 5rem;
    margin-bottom: 10px;
}
.section a{
    color: black
}
@media (max-width: 768px){
    .header{
        text-align: center;
    }
    .header-slide{
        text-align: center;
    }
    .top{
        position: relative;
        margin: 20px 0;
    }
}