.header{
    background: url('../image/phone.jpg') no-repeat 0 0;
    color: white;
}
.logo{
    margin-top: 15px;
}
.icon h5{
    display: inline-block;
}
.bar{
    list-style: none;
    padding-top: 20px;
    text-align: right;
}
.icon i{
    font-size: 3rem;
}
.bar li{
    display: inline-block;
    padding-right: 40px;
}
.bar li a{
    color: white;
}
.text{
    padding: 80px 0;
}
.text img{
    border-top-right-radius: 13%;
}
.last{
    border-radius: 13%;
    position: absolute;
    top: 70%;
    left: 13%;
    width: 75%
}
.late{
    background-color: white;
    color: black;
    border-top-left-radius: s%;
}
.gat{
    background-color: white;
    color: black;
    border-top-right-radius: 13%;
}
.info{
    background-color: white;
    color: black;
    padding: 20px 0;
    
}
.four{
    border-top-right-radius: 13%;
    border-bottom-right-radius: 13%;
}
.info h5{
    color: gray;
}