.header{
    background-color: black;
    color: white;
}
.collapse{
    justify-content: end;
}
.banner{
    background: url('../image/tiger.webp') no-repeat 0 0;
    padding: 120px 0;
    text-align: center;
    color: white;
}
.banner button{
    background-color: black;
    padding: 10px 30px;
    border-radius: .25rem;
    opacity: .5;
    margin: 15px 0;
}
.banner a{
    color: white;
}
.section{
    margin: 100px 0;
}
.section h3{
    margin-bottom: 15px;
}
.section img{
    margin: 15px 0;
}
.section p{
    margin-bottom: 20px;
}
.section button{
    width: 50%;
    text-align: left;
    background-color: black;
    padding: 10px 10px;
    padding-right: 80px;
    margin: 8px 0;
    border-radius: .25rem;
}
.section a{
    color: white
}
.footer{
    background-color: black;
    color: white;
    padding: 90px 0;
}
.footer h4{
    margin-bottom: 15px;
}
.footer li{
    list-style: none;
}
.footer input{
    width: 100%;
    background-color: black;
}
@media(max-width: 768px){
    .banner{
        text-align: center;
    }
    .header{
        text-align: right;
    }
    .section button{
        width: 80%;
    }
    .footer h4{
        margin: 10px 0;
    }
    .section{
        text-align: center;
    }
    .footer{
        text-align: center;
    }
}