*{
    text-decoration: none;
}
.header-slide{
    background: #222;
    color: #fff;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header-slide p{
    margin: 0;
}
.header-slide span{
    color: orange;
}
.header-slide span:hover{
    text-decoration: underline;
}
.header-slide i{
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}
.header-slide i:hover{
    color: orangered;
}
.header{
    position: fixed;
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
    padding-top: 30px;
    color: #fff;
    background: #ddd;
    opacity: .85;
    z-index: 10;
    box-shadow: 0 5px 5px 0 #aaa;
}

.navbar{
    padding: 0;
}
.navbar h1{
    color: #fff;
}
.navbar .collapse{
    justify-content: right;
}
.dropdown-toggle::after{
    color: #fff;
}
.nav-item{
    padding: 0 5px;
}
.navbar .nav-item a b{
    color: #fff;
}
.navbar li b:hover{
    color: crimson;
}
.banner{
    background: url('../image/post-2.jpg') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    height: 120vh;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}
.banner span{
    color: skyblue;
}
.banner span:hover{
    text-decoration: underline  ;
}
.banner h1{
    margin-bottom: 20px;
}
.banner h5{
    margin-bottom: 15px;
    font-weight: 700;
}
.banner a{
    background: crimson;
    border: 2px solid crimson;
    border-radius: 5rem;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
}
.banner a:hover{
    color: #fff;
    background: none;
}
.banner .box{
    width: 50%;
}
.banner p{
    align-items: justify;
    margin-bottom: 40px;
}
/* slide styling */
@media (min-width: 768px) {

    /* show 3 items */
    .carouselPrograms .carousel-inner .active,
    .carouselPrograms .carousel-inner .active + .carousel-item,
    .carouselPrograms .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carouselPrograms .carousel-inner .carousel-item-next,
    .carouselPrograms .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carouselPrograms .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .carouselPrograms .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .carouselPrograms .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
.section{
    position: absolute;
    top: 100%;
    width: 100%;

}
.section .carousel-control-prev{
    left: -180px;
    
}
.section .carousel-control-next{
    right: -180px;
    
}
.section .panel a{
    text-decoration: none;
}
.section .box{
    color: #fff;
    background: crimson;
    border-radius: .5rem;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid crimson;
}
.section .box:hover{
    background: none;
    color: crimson;
    transform: scale(1.1);
}
.section .box i{
    color: orange;
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid orange;
}
.section .box h5{
    margin: 15px 0;
}
/* meeting stylinh */
 
.meetings{
    background: #222;
    
}
.meetings .heading{
    margin-top: 200px;
    text-align: center;
    color: #fff
}
.meetings hr{
    width: 100%;
    background: gray;
    margin: 10px 0;
}
.meetings .big{
    display: flex;
    margin-top: 30px;
}
.meetings .left{
    width: 25%;
    margin: 0 20px;
}
.meetings .left .box{
    background: #fff;
    padding: 30px;
    border-radius: 6px;
}
.meetings .left h5{
    margin-bottom: 40px;
    color: #000;
}
.meetings .left p{
    color: #777;
}
.meetings  .left .para{
    margin-bottom: 20px;
}
.meetings .left button{
    background: crimson;
    width: 100%;
    border-radius:5rem;
    border: 2px solid crimson;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
}
.meetings .left a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.meetings .left button:hover{
    background: none;
}
.meetings .left button:hover a{
    color: crimson;
    background: none;
}
.meetings .right{
    width: 70%;
    margin-bottom: 60px;
}
.meetings .line .top{
    position: relative;
}
.meetings .right button{
    border: 2px solid #fff;
    background: #fff;
    padding: 10px;
    border-radius: .5rem;
    position: absolute;
    top: 5%;
    left: 5%;

}
.meetings .right button:hover{
    background: none;
}
.meetings .right button:hover a{
    color: crimson;
    text-decoration: none;
}
.meetings .right a{
    color: #000;
    text-decoration: none;
}
.meetings .line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.meetings .line .left-1{
    width: 45%;
    border-radius: .25rem;
    margin-left: 40px;
}
.meetings .line img{
    width: 100%;
    height: 200px;
    display: inline-block;
    border-radius: .25rem;
}
.meetings .line .bottom{
   
    background: #fff;
    padding: 20px 20px;
}
.meetings .bottom .line-bt{
    display: flex;
    justify-content: space-between;
}
.meetings .line .date{
    width: 13%;
    text-align: center;
    font-weight: 700;
}
.meetings .line .text{
    width: 83%;

}
.meetings .line .date .para2{
    color: crimson;
    margin: 0;
}
.meetings .line .right-1{
    width: 45%;
    border-radius: .25rem;
}
.apply{
    background: url('../image/post-4.jpg') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    padding: 130px 0;
    color: #fff; 
}
.apply .box3{
    padding: 30px;
    opacity: .85;
    background: rgb(193, 190, 190);
    padding-bottom: 45px;
    margin-bottom: 10px;
}
/*  */
.apply h5{
    margin-bottom: 15px;
}
.apply p{
    margin-bottom: 35px;
}
.apply .box3 a{
    background: crimson;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5rem;
    border: 2px solid crimson;
}
.apply .box3 a:hover{
    color: crimson;
    background: none;
}

.apply .box2{
    padding: 30px;
    opacity: .85;
    margin-top: 15px;
    padding-bottom: 45px;
    background: rgb(193, 190, 190);
   
}
 .box2 a{
    background: yellow;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5rem;
    border: 2px solid yellow;
}
.apply .box2 a:hover{
    color: yellow;
    background: none;
}
.apply .box-left{
    background: #fff;
    border-radius: .25rem;
    padding: 40px 30px;
    color: #000;
}
.apply .card h5{
    color: orange;
    text-decoration: none;
}
.apply .box-left .card{
    border: none;
    margin-bottom: 25px;
}
.apply .box-left .card-header{
    padding: 0;
}
.apply .card button{
    padding: 0;
}
.apply .btn{
    width: 100%;
}
.apply .btn-link:hover{
    text-decoration: none;
}
.apply .btn-link{
    text-decoration: none;
}
.apply .card h4{
    color: #000;
}
.down{
    color: orange;
}
.apply .card .card-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000;
}
.courses{
    background: #222;
    padding: 130px 0;
    color: #fff;
}
.courses hr{
    width: 100%;
    background: gray;
    margin: 10px 0;
}

/* carousel styling */

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(50%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
.courses .carousel-control-prev{
    left: -180px;
    
}
.courses .carousel-control-next{
    right: -180px;
    
}
.courses .slide-show .box{
    border-radius: .25rem;
}
.slide-show{
    margin-top: 30px;
}
.courses .top img{
    width: 100%;
    height: 150px;
}
.courses .bottom{
    padding: 20px;
    text-align: center;
    background: #fff;
    color: #888;
    font-weight: 700;
}
.courses .icons{
    width: 100%;
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 20px;
}
.courses .icons i{
    color: orange;
    margin: 0 2px;
}
.courses .icons .right{
    color: crimson;
}
.courses a{
    text-decoration: none;
}
.courses .carousel-indicators .active{
    width: 30px;
    height: 10  px;
    border-radius: 5rem;
}
.facts{
    position: relative;
    color: #fff;
    /* height: 100vh; */
    padding: 130px 0;
}
.facts::before{
    background: url('../image/phone.jpg') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.facts  h1{
    margin-bottom: 40px;
}
.facts .info{
    display: flex;
    text-align: center;
}
.facts .left{
    width: 45%;
    padding: 20px;
    background: lightgray;
    opacity: .7;
    border-radius: .25rem;
    margin-right: 20px;
    margin-bottom: 20px;
}
.facts .info h2{
    color: orange;
}
.facts .right{
    width: 45%;
    padding: 20px;
    background: lightgray;
    opacity: .7;
    border-radius: .25rem;
    margin-right: 20px;
    
    margin-top: 20px;
}
.facts .box iframe{
    border-radius: .5rem;
}
.contact{
    background: #222;
    padding: 150px 0;
}
.contact form{
    background: #fff;
    padding: 30px;
    border-radius: .5rem;
    margin-top: 30px;
}
form h3{
    margin-bottom: 40px;
}
form input{
    padding: 10px 20px;
    background: #d3d3d33b;
    width: 30%;
    margin: 10px;
    border: none;
    border-radius: 5rem;
}
form textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    margin: 10px;
    background: #d3d3d33b;
    border: none;
    border-radius: .5rem;
}
form button{
    background: crimson;
    padding: 10px 20px;
    border: 2px solid crimson;
    border-radius: 5rem;
    margin-top: 20px;
}
form button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
form button:hover{
    background: none;
}
form button:hover a{
    color: crimson;
    text-decoration: none;
}
.contact .box{
    padding: 20px 30px;
    color: #fff;
    background: crimson;
    border-radius: .5rem;
}
.contact .first{
    margin-bottom: 10px;
    border-bottom: 1px  solid gray;
}
.contact .box p{
    margin: 5px 0;
    margin-top: 20px;
}
.contact .first h5{
    margin-bottom: 30px;
}

.footer{
    margin-top: .5px;
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.footer span{
    color: orange;
}
@media(max-width: 1000px){
    .section .carousel-control-next{
        right: 0;
    }
    .courses .carousel-control-next{
        right: 0;
    }
    .courses .carousel-control-prev{
        left: 0;
    }
    .section .carousel-control-prev{
        left: 0;
    }
    .apply .card h5{
        font-size: 1rem;
    }
    .apply .card h4{
        font-size: 1rem;
    }
    h5{
        font-size: 1rem;
    }
}
@media(max-width:768px){
    .header{
        margin-top: 82px;
       
        text-align: right;
    }
    .header-slide{
        text-align: center;
        
    }
    .meetings .big{
        display: block;
    }
    .meetings .big .left{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .meetings .big .right{
        width: 100%;
    }
    .apply .box2{
        margin-bottom: 20px;
    }
    form{
        margin-bottom: 20px;
    }
    .meetings .right{
        padding: 20px 0;
    }
    .meetings .line .left-1{
        margin: 0;
    }
    .section{
        position: relative;
        margin: 20px 0;
    }
    .section .carousel-control-next{
        right: 0;
    }
    .courses .carousel-control-next{
        right: 0;
    }
    .courses .carousel-control-prev{
        left: 0;
    }
    .section .carousel-control-prev{
        left: 0;
    }
    
}
@media(max-width: 550px){
    .header{
        padding: 0 0;
    }
    .meetings .line{
        display: block;
        margin: 20px 0;
    }
    .apply .card h5{
        font-size: 1rem;
    }
    iframe{
        margin-top: 20px;
    }
    .apply .card h4{
        font-size: 1rem;
    }
    .meetings .line .left-1{
        width: 100%;
        margin: 20px 0;
    }
    .meetings .line .right-1{
        width: 100%;
    }
}