.top{
    background: url('../image/phone.jpg') no-repeat 0 0;
    color: white;
}
.game{
    text-align: right;
    padding-top: 100px;
    text-align: right;
}
.top button{
    background-color: black;
    border-radius: 0.25rem;
    border: 1px solid white;
}
.top button a{
    color: white;
}
.text{
    background-color: orangered;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.medium{
    margin-top: 20px;
    text-align: left;
}
.last{
    background-color: rgb(67, 55, 55);
    color: white;
    padding-top: 20px;
}
.photo{
    margin-top: 40px;
}
.box{
    background-color: aqua;
    padding: 60px 60px;
}
.man{
    padding: 0;
    text-align: center;
    background-color: orange;
}
.man i{
    font-size: 5rem;
    color: red;
}
.bottom{
    height: 50px;
    background-color: white;
}
@media (max-width: 768px){
    .top{
        text-align: center;
    }
    .medium{
        text-align: center;
    }
    .last{
        text-align: center;
    }
    .game{
        text-align: center;
    }
}    