.header-slide{
    background: aqua;
    padding: 5px 0;
    color: #fff;
}
.header-slide a{
    color: #fff;
    text-decoration: none;
}
.header-slide i{
    margin: 0 10px;
}
.header-slide .icon{
    text-align: right;
}
.header-slide select{
    background: transparent;
    border: none;
    color: #fff;
}
.header{
    background: rgb(77, 74, 74);
}
.header h1{
    color: aqua;
    margin-top: 0;
}
.section p{
    color: #fff;
}
.header .collapse{
    justify-content: right;
}
.section{
    background: url('../image/markus-spiske-fkEUEsX0KsM-unsplash.jpg') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
}
.section .text{
    margin: 150px 0;
    text-align: center;
}
.section .text h1 em{
    color: rgb(25, 179, 239);
    margin-bottom: 50px;
}
.section .text .btn{
    padding: 10px 20px;
    background: rgb(25, 179, 239);
    border: none;
    margin-left: 70px;
    margin-top: 50px;
}
.btn a{
    color: #fff;
}
.icons{
    margin-top: 20px;
    text-align: center;
}
.icons h5{
    font-size: 1rem;
}
.icons i{
    font-size: 2rem;
    padding: 20px 20px;
    border: 4px solid aqua;
    border-radius: 7rem;
    margin-bottom: 15px;
    
}
.icons .text{
    text-align: center;
    margin: 50px 0;
}
.icons .text  h4 em{
    color: aqua;
}
.icons .text h4{
    margin-bottom: 20px;
    font-weight: 700;
}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(50%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
.panel-thumbnail{
    transition: all 3s ease-in-out;
}
.panel-thumbnail:hover{
    transform: scale(2);
}
section{
    margin-bottom: 60px;
}
.box{
    background: gray;
    width: 65%;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: 5px 0;
    display: flex;
    margin: 0 auto;
}
.box i{
    color: #fff;
    margin-left: 5px;
}
.small{
    text-align: center;
    margin-top: 20px;
}
.small h4{
    margin-bottom: 20px;
}
.small em{
    color: aqua
}
.small button{
    margin-top: 20px;
    bottom: none;
    padding: 5px 20px;
    border-radius: .25rem;
    background: #000;
}
.small h4, p{
    color: #000;
}
.small a{
    color: #fff;
}
.small button a i{
    color: #fff;
    margin: 0 5px;
}

.section img{
    width: 100%;
}
.sub{
    background: aqua;
    padding: 20px 0;
   
}
.sub .text{
    text-align: center;
}
.sub h3 em{
    color: blue
}
.sub h3{
    margin: 10px 0;
}
.sub .info{
    border-radius: .25rem;
    border: none;
    padding: 10px 10px;
    width: 45%;
    margin-right: 30px;
    margin: 10px 0;
}
.sub .info2{
    border-radius: .25rem;
    border: none;
    padding: 10px 10px;
    width: 70%;
    margin-top: 10px;
    margin-right: 15px;
}
.sub button{
    margin-top: 20px;
    bottom: none;
    padding: 5px 20px;
    border-radius: .25rem;
    background: #000;
    margin-top: 10px;
}
.sub a{
    color: #fff;
}
.icons .big-box{
    background: #777;
    padding: 5px 10px;
    color: #555;
    margin-top: 15px;
    border-radius: .25rem;
}
.lstest img{
    margin-top: 20px;
}
.icons .big-box p em{
    font-size: 5rem;
}
.icons .big-box2 p{
    color: #fff;
}
.icons .big-box2 p em{
    font-size: 5rem;
}
.icons .big-box2{
    background: skyblue;
    padding: 5px 10px;
    color: #fff;
    padding-bottom: 70px;
    border-radius: .25rem;
}
.icons img{
    display: inline-block;
    width: 50%;
    height: 140px;
    border-radius: 15rem;
    margin: 15px 0;
}
.last {
    margin-top: 70px;
    padding: 20px 0;
    background: rgb(247, 237, 219);
}
.last em{
    color: aqua
}
.last i{
    font-size: 4rem;
    margin: 0 50px;
}
.footer{
    background: #000000;
    padding: 100px 0;
    color: #fff;
}
.footer p{
    color: #fff;
}
.footer h5{
    margin-bottom: 30px;
}
.footer h4{
    color: skyblue
}
.footer .para{
    margin: 20px 0;
}
.footer a i{
    margin: 0 10px;
}
.footer .line .right{
    margin-left: 20px;
}
.footer .left i{
    font-size: 1.5rem;
}
.footer .line{
    display: flex;
    align-items: baseline;
}
.footer a{
    color: #fff;
}
.footer .line .left p{
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10rem;
}
.footer .icon i{
    margin-top: 50px;
    border-radius: 5rem;
    padding: 10px;
    background: aqua;
    border: none;
}
.footer .icons a{
    color: #000;
}
.footer b{
    color: #777;
}
.footer-slide{
    background: gray;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.footer-slide p{
    color: #fff;
}
.footer::before{
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    opacity: .3;
    background: url('../image/theater.jpg') no-repeat 0 0;
}
@media(max-width: 768px){
    .header-slide{
        text-align: center;
    }
    .icons{
        text-align: center;
    }
    .header-slide .icon{
        text-align: center;
    }
    .section .text{
        text-align: center;
    }
    .section .text .btn{
        margin-left: 20px;
    }
    .last{
        text-align: center;
    }
    .footer h5{
        margin-top: 20px    ;
    }
    .footer{
        text-align: center;
    }
    .footer-slide{
        text-align: center;
    }
    .line{
        justify-content: center;
    }
}
@media(max-width: 580px){
    .sub{
        text-align: center;
    }
    .sub .info{
        width: 100%;
        margin-left: 0;
    }
    .sub .info2{
        width: 100%;
    }
}